<footer class="bg-dark text-white py-4 mt-4">
  <div class="container">
    <div class="row">
      <!-- Cột 1: Thông tin công ty -->
      <div class="col-md-4">
        <h5>Châu Millions</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
      
      <!-- Cột 2: Liên kết nhanh -->
      <div class="col-md-4">
        <h5>Liên Kết Nhanh</h5>
        <ul class="list-unstyled">
          <li><a href="/" class="text-white">Trang Chủ</a></li>
          <li><a href="/news" class="text-white">Tin Tức</a></li>
        </ul>
      </div>
      
      <!-- Cột 3: Liên hệ -->
      <div class="col-md-4">
        <h5>Liên Hệ</h5>
        <ul class="list-unstyled">
          <li><i class="bi bi-geo-alt-fill"></i> Địa chỉ: Thông Nguyên - Hoàng Su Phì - Hà Giang</li>
          <li><i class="bi bi-phone-fill"></i> Điện thoại: +84 392725632</li>
          <li><i class="bi bi-envelope-fill"></i> Email: chaumillions@gmail.com</li>
        </ul>
      </div>
    </div>
    <div class="text-center mt-3">
      <p class="mb-0">&copy; Châu Millions Bên bạn mọi lúc mọi nơi</p>
    </div>
  </div>
</footer>
