<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid container">
    <a class="navbar-brand" href="/">My education</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news">News</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://scontent.fhan15-2.fna.fbcdn.net/v/t39.30808-6/332397802_1187681155215962_7181496227125385919_n.jpg?_nc_cat=110&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=W4M2UKO_m-QQ7kNvgGTkdSS&_nc_zt=23&_nc_ht=scontent.fhan15-2.fna&_nc_gid=AnttplqFEspFbCkvlN7yjnb&oh=00_AYCGthALaMLJ8ckXKkZn-Q2Sr362n2SxMzE5fdVXqLFNhw&oe=6731278F" alt="avatar" class="user-avatar">
            Châu Millions
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/courses/create">Create course</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="/user/stored/courses">My courses</a></li>
            <li><a class="dropdown-item" href="/user/stored/news">My news</a></li>
            <div class="dropdown-divider"></div>
            <li><a class="dropdown-item" href="#">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>